header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
}
header .navbarOne {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
header .navbarOne .iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbarOne .iconBox .spanBox {
  display: flex;
  flex-direction: column;
}
header .navbarOne .inWrite {
  color: #ffa800;
}
header .navbarOne .vestWrite {
  color: white;
}
header .navbarOne .blockWrite {
  color: #94938d;
}
header .navbarOne .littleMenu {
  display: flex;
  gap: 25px;
}
header .navbarOne .littleMenu .money {
  display: flex;
  gap: 10px;
  color: white;
}
header .navbarOne .littleMenu .register {
  display: flex;
  gap: 10px;
  color: white;
}
header .navbarOne .littleMenu .register .lineOne {
  height: 20px;
  width: 3px;
  background-color: white;
}
header .navbarTwo {
  width: 100%;
  background-color: #ffa800;
  justify-content: center;
  display: flex;
  position: fixed !important;
  margin-top: 100px;
  margin-top: 100px;
  z-index: 5;
}
header .navbarTwo .navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
header .navbarTwo .navContent li {
  list-style-type: none;
}
header .navbarTwo .navContent a {
  text-decoration: none;
}
header .navbarTwo .numberBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .navbarTwo .emailBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .navbarTwo .home {
  color: black;
}
header .navbarTwo .about {
  color: white;
}

#bar {
  display: none;
}

.navMenuAdd {
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
  display: flex;
  transition: 400ms;
  background-color: #ffa800;
  z-index: 3;
  padding: 0;
  top: 38px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 24px;
}
.navMenuAdd li {
  list-style-type: none;
  color: black;
  margin-left: 20px;
}
.navMenuAdd a {
  text-decoration: none;
  color: black;
}

.barMenuJs {
  width: 100%;
  height: 100%;
  overflow: visible;
}

@media only screen and (max-width: 768px) {
  .register {
    display: none !important;
  }
  #bar {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid white;
  }
  .navbarTwo {
    display: none !important;
  }
}
footer {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 20px;
}
footer .footerMenu {
  display: flex;
  gap: 10px;
  padding-left: 30px;
}
footer .footerMenu li {
  list-style-type: none;
  color: white;
}
footer .footerMenu a {
  text-decoration: none;
  color: white;
}

.myContainer {
  width: 100%;
}
.myContainer .caruselBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  height: 300px;
  position: absolute;
  z-index: 7;
  color: white;
  border: 1px solid black;
  top: 100px;
  background-color: black;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  opacity: 0.8;
  z-index: 1;
  font-size: 24px;
}
.myContainer .caruselBox .readBtn {
  width: 100px;
  height: 40px;
  background-color: #ffa800;
  color: white;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  .caruselBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 100px;
    position: absolute;
    z-index: 7;
    color: white;
    border: 1px solid black;
    top: 10px !important;
    background-color: black;
    left: 50%;
    text-align: center;
    opacity: 0.8;
    z-index: 1;
    font-size: 10px;
  }
}
.myContainerBuy {
  width: 100%;
  justify-content: center !important;
  align-items: center !important;
  background-color: #f5f9fa;
  display: flex;
}
.myContainerBuy .buySellImg {
  width: 100% !important;
}
.myContainerBuy .buySell {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 60px;
}
.myContainerBuy .boxBuy {
  width: 100px;
  height: 5px;
  background-color: #ffa800;
  margin-bottom: 10px;
}
.myContainerBuy .morbi {
  width: 450px;
}
.myContainerBuy .take {
  color: #94938d;
}
.myContainerBuy .buyP {
  color: black;
  font-size: 30px;
}
.myContainerBuy .readmore {
  width: 200px;
  height: 60px;
  color: white;
  background-color: #ffa800;
  border: none;
}

@media only screen and (max-width: 768px) {
  .buySell {
    flex-direction: column;
    margin-top: 30px;
  }
  .buySell .morbi {
    width: 300px;
  }
  .buySell .buySellImg {
    width: 60% !important;
  }
}
#myContainerSimple {
  width: 100%;
  background-color: #f5f9fa;
  justify-content: center !important;
  align-items: center !important;
  display: flex;
  flex-direction: column;
}

#simple {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.simpleBox {
  width: 100px;
  height: 5px;
  background-color: #ffa800;
}

#cardBoxs {
  display: flex;
}

.take {
  color: #94938d;
  margin-top: 20px;
}

.simpleP {
  color: black;
  font-size: 30px;
}

#cardBoxs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.btndesign {
  border: none;
  width: 100px;
  background-color: #ffa800;
  color: white;
}

#create a {
  color: white;
}

.cardBox {
  width: 300px;
  height: 300px;
  position: relative;
  gap: 20px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.imgJsAdd {
  position: absolute;
  top: 0;
}

.writeDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 200px;
  justify-content: center;
  align-items: center;
}

.titleWrite {
  color: black;
  font-size: 24px;
}

.contentWrite {
  color: #94938d;
  font-size: 15px;
}

.myContainerLatest {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  padding-top: 100px;
  flex-direction: column;
}
.myContainerLatest .latest {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 30px;
}
.myContainerLatest .latest .card1 {
  width: 300px;
  height: 500px;
  background-image: url(https://preview.colorlib.com/theme/invest/images/news_1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
.myContainerLatest .latest .card2 {
  width: 300px;
  height: 500px;
  background-image: url(https://preview.colorlib.com/theme/invest/images/news_2.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
.myContainerLatest .latest .card3 {
  width: 300px;
  height: 500px;
  background-image: url(https://preview.colorlib.com/theme/invest/images/news_3.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
.myContainerLatest .latest .cardwrites {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
}
.myContainerLatest .latest .cardwrites .newrites {
  color: black;
  font-size: 24px;
}
.myContainerLatest .latest .cardwrites .morbi {
  color: #94938d;
  font-size: 16px;
}
.myContainerLatest .latest .cardwrites .readmore {
  border: none;
  width: 100px;
  background-color: #ffa800;
  color: white;
}
.myContainerLatest .searchCards {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  .latest {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */